# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv310/
render_env/

# Buildozer / Android
.buildozer/
bin/

# Logs
*.log
log.txt
build_log.txt

# Temp / media
temp_slips/
*.jpg
*.jpeg
*.png

# Secrets / sessions
.env
user_session.json

# IDE
.vscode/
.idea/
